__pycache__
todo.md
1.md
2.md
.venv
.gemini
outputs
pytorch-grad-cam
*.pth
*.pt
*.bin
*.tar.gz
*.zip
specimen_invariance_outputs/
outputs_final/
outputs1/
outputs2/
*.aux
*.bbl
*.blg
*.log
*.out
*.abs
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz